@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Pretendard-Regular", BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.ql-editor {
    height: auto;
}

.ql-toolbar {
    border-radius: 15px 15px 0px 0px;
}

.ql-container.ql-snow {
    border-radius: 0px 0px 15px 15px;
    border: none;
}

.ql-toolbar.ql-snow {
    border: none;
    border-bottom: 1px solid #dbdbdb;
}

.ql-fill {
    color: #fff;
}

.ql-editor.ql-blank {
    border: none;
}